<div class="container">
    <h2>{{site.sec6}}</h2>
    <p>{{site.sec7}}</p>
    <div class="features">
        <article>
            <!-- <a href="#" class="image"><img src="/assets/images/pic01.jpg" alt="" /></a>-->
            <div class="inner">
                <h4>{{site.sec8}}</h4>
                <p>{{site.sec9}}</p>
            </div>
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSnbtOdJWaqQ9WMfqi0MEReUXzfnvHzsKCBjZnqeWy9VQWJaaNG7u58Wr4mXEAQ3w/embed?start=false&loop=false&delayms=3000" frameborder="0" width="640" height="389" allowfullscreen="true"
         mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </article>
        <article>
            <a href="#" class="image"><img src="/assets/images/pic02.jpg" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec10}}</h4>
                <p>{{site.sec11}}</p>
            </div>
        </article>
        <article>
            <a href="#" class="image"><img src="/assets/images/pic03.jpg" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec12}}</h4>
                <p>{{site.sec13}}</p>
            </div>
        </article>
    </div>
</div>